{% extends 'base.html.twig' %}

{% block title %}New DecoMuralePhoto{% endblock %}

{% block body %}
<section>
    <div class='container'>
        <div class='row'>
            <div class="col-6">
            <h1>Create new DecoMuralePhoto</h1>
                {{ include('deco_murale_photo/_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
    

    

{% endblock %}
